
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace !important;
  font-size: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* for header */
.header{
  background: #c71585;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  color: #fff;
}
.menu ul{
  display: flex;
}
.menu ul li{
  padding: 0px 10px;
  list-style: none;
}
.menu ul li a{
  transition: .4s !important;
  text-transform: uppercase;
  font-size: 14px;
  font-family: monospace;
}
.menu ul li a:hover{
  color:rgb(12, 0, 117);
}
.form-section{
  padding: 40px;
    
}
.form-field{
  margin: 22px;
  position: relative;
}
.css-k4qjio-MuiFormHelperText-root.Mui-error {
  color: #d32f2f;
  position: absolute;
  top: 37px;
  left: -11px;
}
.ui-heading{
  text-align: right !important;
  padding: 0px 19px;
  margin-top: 22px;
} 
.create-btn:hover{
  background-color: #0078ce;
  color: #fff;
}
.list-item a{
  font-size: 14px;
  text-transform: capitalize;
  font-family: monospace;
}
.login-page.form-section{
  width: 450px;
  margin: 0 auto;
}
th{
  font-size: 15px !important;
}
td{
  font-size: 17px;
  font-weight: 500;
  font-family: monospace;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
